public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*babel*
strict-peer-dependencies=false
auto-install-peers=true
use-lockfile-v6=true
dedupe-peer-dependents=true